<app-header 
  [title]="title" 
  [showTitleOnMobile]="false"
  backButtonHref="/home"
  backButtonText="Atrás">
</app-header>

<ion-content >
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12">
        <h1 class="main-title ion-text-center">Practicar {{ title }}</h1>
      </ion-col>
    </ion-row>
    <ion-row>

      @if (!isMobile) {
      <!-- <ion-col size="12"> -->
        <div class="adventure-container">
          @for (option of adventureOptions; track option.id; let i = $index) {
          <div class="adventure-item" [style.background]="getBackgroundColor(i)" (click)="onOptionSelected(option)">
            {{ option.title }}
          </div>
          }
        </div>
      <!-- </ion-col> -->
      }


      @if (isMobile) {
      @for (option of adventureOptions; track option.id; let i = $index) {
      <ion-col size="6" class="ion-text-center">
        <div class="adventure-item-grid" [style.background]="getBackgroundColor(i)" (click)="onOptionSelected(option)">
          {{ option.title }}
        </div>
      </ion-col>
      }
      }
    </ion-row>
  </ion-grid>
</ion-content>