<ion-header>
  <ion-toolbar>
    <!-- Botón de regreso -->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text="Atrás"></ion-back-button>
    </ion-buttons>

    <!-- Título centrado -->
    @if (!isWebMobile) {
    <ion-title>Configuraciones</ion-title>
    }

    <!-- Icono de usuario -->
    <!-- <ion-buttons slot="end">
      <ion-button class="user-icon">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>

  @if (!isLogin) {
  <ion-card>
    <ion-card-header>
      <ion-card-title>Detalles del usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input type="number" [(ngModel)]="usuario.edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tutor</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.tutor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Terapeuta</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.terapeuta"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Calificación</ion-label>
        <ion-input type="number" [(ngModel)]="usuario.calificacion"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  }
  @else {
  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Nombre</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-input type="number" [(ngModel)]="usuario.edad"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Tutor</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.tutor"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Terapeuta</ion-label>
        <ion-input type="text" [(ngModel)]="usuario.terapeuta"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
  }
  <ion-card>
    <ion-card-header>
      <ion-card-title>Subir datos de la aplicación</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <!-- <ion-item *ngFor="let tema of practiceOptions.title">
          <ion-label>{{ tema }}</ion-label>
          <ion-input type="text" [(ngModel)]="datos[tema]"></ion-input>
        </ion-item> -->
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>